<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Employee Registration</h1>
	<hr>
	<form action="register" method="post" th:object="${myemp}">
		Emp id: <input type="text" th:field="*{empId}"> <span
			th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}"></span> <br>
		Name: <input type="text" th:field="*{name}"> <span
			th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <br>
		City:<input type="text" th:field="*{city}"> <span
			th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span> <br>
		Salary<input type="text" th:field="*{salary}"> <span
			th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
		<br> <input type="submit" value="Register">
	</form>
</body>
</html>