<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of employees</title>
</head>
<body>
<form action="getEmployees" method="get">
<table>
    <thead>
        <tr>
            <th> Empid </th>
            <th> Name </th>
            <th>City</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${emplist.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="emp : ${emplist}">
            <td><span th:text="*{emp.empId}"> EmpId </span></td>
            <td><span th:text="*{emp.name}"> Name </span></td>
            <td><span th:text="*{emp.city}"> City </span></td>
            <td><span th:text="*{emp.salary}"> Salary </span></td>
        </tr>
    </tbody>
</table>
</form>

</body>
</html>